mat-card.text-card {
  height: 200px;
  overflow: hidden;
  padding: 0;
  &.no-image {
    height: auto;
  }
  .content {
    display: grid;
    grid-template-columns: 200px 1fr;
    height: 100%;
    text-decoration: none;
    color: inherit;
    &.no-image {
      grid-template-columns: 1fr;
    }
    .cover {
      width: 200px;
      height: 200px;
      flex-shrink: 0;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .info {
      display: grid;
      grid-template-rows: auto 1fr auto;
      height: 100%;
      mat-card-content {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        line-clamp: 3;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
      }
      &.no-image {
        display: flex;
        flex-direction: column;
        mat-card-content {
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 10;
          line-clamp: 10;
          -webkit-box-orient: vertical;
          text-overflow: ellipsis;
        }
      }
      mat-card-footer {
        align-items: end;
        .footer {
          padding: 0.5rem 1rem;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
        }
      }
    }
  }
}

// MOBILE AND SMALL SCREENS OVERRIDES
@media (max-width: 930px) {
  mat-card.text-card {
    height: auto;
    .content {
      grid-template-rows: 100px 1fr;
      grid-template-columns: 1fr;
      &.no-image {
        grid-template-rows: 1fr;
      }
      .cover {
        width: 100%;
        height: 100px;
      }
      .info {
        display: flex;
        flex-direction: column;
        mat-card-content {
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 10;
          line-clamp: 10;
          -webkit-box-orient: vertical;
          text-overflow: ellipsis;
        }
      }
    }
  }
}
