:host {
  --max-lines: 3;
}

mat-card.media-card {
  scroll-snap-align: start;
  scroll-snap-stop: always;

  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 0;
  --info-ratio: 0.33;

  .content {
    height: 100%;
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: column;
    align-items: stretch;

    .cover {
      flex: 0 0 calc((1 - var(--info-ratio)) * 100%);
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
      }
    }
    .info {
      flex: 0 0 calc(var(--info-ratio) * 100%);
      padding: 1rem;
      display: grid;
      grid-template-rows: auto 1fr auto;
      height: auto;
      min-height: 0;

      mat-card-header {
        padding: 0;
      }
      mat-card-content {
        padding: 0;
        box-sizing: border-box;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: var(--max-lines);
        line-clamp: var(--max-lines);
        text-overflow: ellipsis;
        line-height: var(--mat-sys-body-medium-line-height);
        max-height: calc(var(--mat-sys-body-medium-line-height) * var(--max-lines));
        > * {
          margin: 0;
        }
      }
      mat-card-footer {
        align-items: end;
        .footer {
          padding: 0;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: end;
          .mat-mdc-chip-set .mdc-evolution-chip {
            margin-bottom: 0;
            margin-top: 0;
          }
          .mat-mdc-card-actions {
            margin-top: 0;
            padding: 0;
            min-height: 0;
            .mat-mdc-icon-button {
              align-content: end;
              padding: 0;
              height: auto;
            }
          }
        }
      }
    }
  }
}

// SHORT SCREEN OVERRIDES
@media (max-height: 800px) {
  :host {
    --max-lines: 2;
  }
}
@media (max-height: 700px) {
  :host {
    --max-lines: 1;
  }
}

// MOBILE OVERRIDES
@media (max-width: 768px) {
  mat-card.media-card {
    width: 100%;
    height: auto;
    min-height: 0;

    .content {
      display: block;
      .cover {
        width: 100%;
        height: auto;
        aspect-ratio: 2 / 3;
      }

      .info {
        height: auto;
        mat-card-content {
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 10;
          line-clamp: 10;
          line-height: var(--mat-sys-body-medium-line-height);
          max-height: calc(var(--mat-sys-body-medium-line-height) * 10);
          overflow: hidden;
        }
        mat-card-footer {
          .footer {
            .mat-mdc-chip-set .mdc-evolution-chip {
              margin-top: 1rem;
            }
            .mat-mdc-card-actions {
              margin-top: 1rem;
            }
          }
        }
      }
    }
  }
}
