<section class="card main-card" role="main" aria-label="Main content">
  <div class="card-inner">
    <mat-tab-group stretchTabs fitInkBarToContent animationDuration="0ms" class="main-tabs">
      <mat-tab label="First">
        <div class="tab-content">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis hendrerit, quam at elementum
          rutrum, est purus tempus eros, vel pretium lacus lacus gravida lacus. Nunc a hendrerit
          massa, nec mollis leo. Etiam a cursus nisl, eu suscipit nunc. Sed odio justo, molestie sit
          amet lobortis eget, faucibus a orci. Sed non arcu ornare lectus consequat congue. Ut
          varius malesuada tincidunt. Mauris ac laoreet mi. Nulla ut aliquam nisl. Curabitur gravida
          arcu orci, id tincidunt eros varius vehicula. Quisque pulvinar tortor vel nulla dapibus
          eleifend. Aliquam accumsan semper augue id feugiat. Sed eu metus dapibus, iaculis arcu a,
          posuere lectus. Maecenas in tempus nunc, vel sagittis dolor. Cras eros tellus, feugiat ut
          fringilla vitae, pulvinar et tortor. Integer fringilla erat quis magna bibendum, sit amet
          scelerisque nibh placerat. Proin efficitur purus elit, eu gravida metus interdum id.
          Quisque a tortor finibus, bibendum quam id, fermentum diam. Ut in luctus ipsum. Ut ut
          tortor arcu. Morbi at rhoncus lacus. Vivamus faucibus sollicitudin diam, vel aliquet velit
          maximus eu. Donec tristique, risus ut luctus placerat, ante arcu dapibus ex, ut
          consectetur turpis velit ac justo. Praesent nec iaculis tellus, sit amet bibendum lorem.
          Nam vehicula rutrum molestie. Nullam scelerisque lacus et enim molestie sodales.
          Pellentesque sed volutpat felis. Aliquam facilisis neque at lorem faucibus facilisis.
          Maecenas pretium pulvinar nibh, a semper tellus semper ac. Vestibulum eu tortor imperdiet,
          pharetra dolor eu, molestie dui. Suspendisse efficitur varius mauris, vitae laoreet leo
          vulputate sed. Vestibulum eleifend dapibus odio eget eleifend. Ut non nisi accumsan,
          vestibulum quam ac, placerat ligula. Proin nec pharetra nulla, id consectetur magna.
          Nullam ullamcorper pulvinar urna, sit amet tempor augue porta et. Class aptent taciti
          sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Ut tellus lorem,
          pharetra sed libero sodales, fermentum mattis risus. Phasellus enim nunc, pretium nec enim
          sed, venenatis lacinia leo. Nulla finibus faucibus lectus sit amet ultricies. Maecenas
          molestie ornare bibendum. Nunc commodo leo nec mi pharetra sodales. Mauris aliquam posuere
          sem et ultrices. Proin vitae orci nibh. Lorem ipsum dolor sit amet, consectetur adipiscing
          elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos
          himenaeos. Suspendisse vel ultricies odio. Quisque cursus faucibus nisl, in lobortis
          tellus condimentum sed. Suspendisse iaculis nulla magna, eget egestas augue finibus vel.
          Morbi vitae libero pellentesque, elementum nulla quis, tincidunt tortor. Vivamus ut nibh
          ut odio congue laoreet eu sit amet mauris. Mauris laoreet egestas faucibus. In sed maximus
          dui. Praesent egestas eleifend sapien. Donec at pulvinar ex. Praesent ullamcorper eleifend
          diam eu mattis. Fusce efficitur a arcu eu tincidunt. Class aptent taciti sociosqu ad
          litora torquent per conubia nostra, per inceptos himenaeos. Phasellus vitae pulvinar
          dolor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nibh urna, pharetra
          eu finibus posuere, viverra eget ipsum. Aliquam malesuada est ut gravida venenatis. Nulla
          egestas quis ex sed venenatis. Aenean et cursus justo. Aenean sodales arcu eu sapien
          semper hendrerit. Cras at maximus magna, ut tincidunt dui. Morbi et nibh eget justo congue
          tempus quis sit amet dolor. Quisque fringilla malesuada aliquam. Ut sit amet lectus velit.
          Morbi finibus risus neque. Quisque at cursus enim. Quisque a accumsan nisl. Nam a augue
          non ipsum tempor rutrum. Class aptent taciti sociosqu ad litora torquent per conubia
          nostra, per inceptos himenaeos. Morbi malesuada egestas arcu vitae pretium. Mauris at
          molestie lectus. Aenean ante est, laoreet non feugiat in, auctor sed lorem. Quisque
          fringilla aliquet libero nec placerat. Proin ut semper est. In auctor lobortis est, eu
          fermentum tellus faucibus quis. Fusce hendrerit auctor nisl vel tristique. Morbi eu semper
          enim, at iaculis risus. Aenean luctus eros vel lacus suscipit mattis. Maecenas urna neque,
          dignissim a viverra feugiat, feugiat at metus. Sed sit amet nibh lorem. Aenean maximus dui
          eget pulvinar posuere. Nunc ultricies tellus sed posuere imperdiet. Phasellus lacinia
          viverra tortor non euismod. Vestibulum convallis nisl sit amet nisi sodales, in iaculis
          turpis tincidunt. Proin id accumsan nisl. Suspendisse potenti. Cras mattis, mi eu congue
          sagittis, ipsum velit laoreet nulla, et feugiat dolor nulla id metus. Ut pellentesque
          libero vel lectus consequat, porttitor eleifend nisi gravida. Integer non scelerisque
          nisl. Sed molestie eget massa mollis gravida. In cursus, mi sit amet porta vestibulum,
          ligula lacus efficitur turpis, non pulvinar tortor ipsum id ex. Donec scelerisque aliquet
          nisi quis venenatis. Phasellus facilisis malesuada tellus, sit amet sollicitudin urna
          tincidunt nec. In accumsan mi ac nunc lacinia, id pharetra mauris aliquet. Cras eget
          pulvinar libero. Aliquam tortor quam, ultrices eget augue eu, maximus tristique velit.
          Proin et mauris enim. Aenean ut est sit amet nisl dignissim pulvinar quis eu risus.
          Interdum et malesuada fames ac ante ipsum primis in faucibus. In vel massa magna. Quisque
          pellentesque maximus nisl, a auctor nibh lobortis vel. Aenean purus metus, consectetur nec
          ipsum id, fringilla tempus justo.
        </div>
      </mat-tab>
      <mat-tab label="Second"> <div class="tab-content">Content 2</div> </mat-tab>
      <mat-tab label="Third"> <div class="tab-content">Content 3</div> </mat-tab>
    </mat-tab-group>
  </div>
</section>
