@use '@angular/material' as mat;

.tab-content {
  width: 100%;
  height: 100%;
  min-height: 0;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  min-height: 0;
  padding: 1rem 0 1rem 0;
  -webkit-overflow-scrolling: touch;
  text-align: justify;

  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  scroll-padding-top: var(--tab-scroll-padding-top, 1rem);
}

// MOBILE OVERRIDES
@media (max-width: 768px) {
  .tab-content {
    height: auto !important;
    min-height: 0;
    display: block;
    overflow: overlay !important;
    padding: 1rem 0 0 0;
  }
}
