<section class="card main-card" role="main" aria-label="Main content">
  <div class="card-inner">
    <mat-tab-group
      stretchTabs
      [fitInkBarToContent]="true"
      animationDuration="0ms"
      [disableRipple]="true"
      class="main-tabs"
    >
      <mat-tab label="About Me">
        <div class="tab-content">
          Placeholder.
        </div>
      </mat-tab>
      <mat-tab label="Projects">
        <div class="tab-content projects">
          @for (project of projectsList; track $index) {
          <pf-text-content
            [title]="project.title"
            [subtitle]="project.subtitle"
            [imageUrl]="project.imageUrl"
            [description]="project.description"
            [url]="project.url"
            [tags]="project.tags"
          />
          }
        </div>
      </mat-tab>
      <mat-tab label="Test">
        <div class="tab-content art-projects">
          @for (artProject of artProjectsList; track $index) {
          <pf-media-content
            [title]="artProject.title"
            [subtitle]="artProject.subtitle"
            [imageUrl]="artProject.imageUrl"
            [description]="artProject.description"
            [url]="artProject.url"
            [tags]="artProject.tags"
          />
          }
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</section>
