.mat-mdc-tab-group {
  width: 100%;
}

.mat-mdc-tab-group,
.mat-mdc-tab-group .mat-mdc-tab-body-wrapper {
  height: 100%;
}

.main-tabs .mat-mdc-tab-body-wrapper {
  flex: 1 1 auto;
  min-height: 0;
  display: flex;
}

.mat-mdc-tab-group .mat-mdc-tab-body-content {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  min-height: 0;
}

.tab-content {
  padding: 1rem 0 1rem 0;
  -webkit-overflow-scrolling: touch;
  text-align: justify;
}

.projects {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.art-projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
}

// MOBILE OVERRIDES
@media (max-width: 768px) {
  .mat-mdc-tab-group,
  .mat-mdc-tab-group .mat-mdc-tab-body-wrapper,
  .mat-mdc-tab-group .mat-mdc-tab-body,
  .mat-mdc-tab-group .mat-mdc-tab-body-content {
    height: auto !important;
    min-height: 0;
    display: block;
    overflow: overlay !important;
  }

  .tab-content {
    height: auto !important;
    overflow: overlay !important;
  }

  .art-projects {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 0.5rem;
    width: 100%;
  }
}
