:host {
  --max-lines: 3;
}

mat-card.text-card {
  height: 200px;
  overflow: hidden;
  padding: 0;
  &.no-image {
    height: auto;
    --max-lines: 10;
  }
  .content {
    display: grid;
    grid-template-columns: 200px 1fr;
    height: 100%;
    max-height: 200px;
    text-decoration: none;
    color: inherit;
    &.no-image {
      grid-template-columns: 1fr;
      max-height: 100%;
    }
    .cover {
      width: 200px;
      height: 200px;
      flex-shrink: 0;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      background: var(--mat-sys-inverse-surface);
    }
    .info {
      padding: 1rem;
      display: grid;
      grid-template-rows: auto 1fr auto;
      height: 100%;
      max-height: 200px;
      mat-card-header {
        padding: 0;
      }
      &.no-image {
        max-height: 100%;
      }
      mat-card-content {
        padding: 0;
        box-sizing: border-box;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: var(--max-lines);
        line-clamp: var(--max-lines);
        text-overflow: ellipsis;
        line-height: var(--mat-sys-body-medium-line-height);
        max-height: calc(var(--mat-sys-body-medium-line-height) * var(--max-lines));
      }
      mat-card-footer {
        align-items: end;
        .footer {
          padding: 0;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: end;
          .mat-mdc-chip-set .mdc-evolution-chip {
            margin-bottom: 0;
            margin-top: 0;
          }
          .mat-mdc-card-actions {
            margin-top: 0;
            padding: 0;
            min-height: 0;
            .mat-mdc-icon-button {
              align-content: end;
              padding: 0;
              height: auto;
            }
          }
          &.no-image {
            .mat-mdc-chip-set .mdc-evolution-chip {
              margin-top: 1rem;
            }
            .mat-mdc-card-actions {
              margin-top: 1rem;
            }
          }
        }
      }
    }
  }
}

// MOBILE AND SMALL SCREENS OVERRIDES
@media (max-width: 930px) {
  :host {
    --max-lines: 10;
  }
  mat-card.text-card {
    height: auto;
    .content {
      max-height: 100%;
      grid-template-rows: 100px 1fr;
      grid-template-columns: 1fr;
      &.no-image {
        grid-template-rows: 1fr;
      }
      .cover {
        width: 100%;
        height: 100px;
      }
      .info {
        max-height: 100%;
        display: flex;
        flex-direction: column;
        mat-card-footer {
          .footer {
            .mat-mdc-chip-set .mdc-evolution-chip {
              margin-top: 1rem;
            }
            .mat-mdc-card-actions {
              margin-top: 1rem;
            }
          }
        }
      }
    }
  }
}
