@use '@angular/material' as mat;

:host {
  @include mat.list-overrides(
    (
      list-item-one-line-container-height: auto,
    )
  );
}

p {
  font-size: 12pt;
  text-wrap: wrap;
}

.mdc-list-item {
  p {
    margin: 0;
  }
}

.mdc-list {
  padding-top: 0;
}
