@use '@angular/material' as mat;

:host {
  @include mat.list-overrides(
    (
      list-item-one-line-container-height: auto,
    )
  );
}

.mdc-list-item {
  p {
    font: var(--mat-sys-body-large);
    letter-spacing: var(--mat-sys-body-large-tracking);
    text-wrap: wrap;
    margin: 0;
  }
}

.mdc-list {
  padding-top: 0;
}
