<h2 [innerHTML]="'hello' | transloco"></h2>
<p [innerHTML]="'personal-introduction' | transloco"></p>
<mat-divider></mat-divider>
<h3 [innerHTML]="'skills' | transloco"></h3>
<mat-list role="list">
  <mat-list-item role="listitem">
    <p [innerHTML]="'programming-languages' | transloco"></p>
  </mat-list-item>
  <mat-list-item role="listitem">
    <p [innerHTML]="'web-dev' | transloco"></p>
  </mat-list-item>
  <mat-list-item role="listitem">
    <p [innerHTML]="'rest-apis' | transloco"></p>
  </mat-list-item>
  <mat-list-item role="listitem">
    <p [innerHTML]="'sql' | transloco"></p>
  </mat-list-item>
  <mat-list-item role="listitem">
    <p [innerHTML]="'embedded-systems' | transloco"></p>
  </mat-list-item>
  <mat-list-item role="listitem">
    <p [innerHTML]="'software-engineering-git' | transloco"></p>
  </mat-list-item>
  <mat-list-item role="listitem">
    <p [innerHTML]="'it-os-network-hardware' | transloco"></p>
  </mat-list-item>
</mat-list>
<mat-divider></mat-divider>
<h3 [innerHTML]="'about-this-website-header' | transloco"></h3>
<p [innerHTML]="'about-this-website-info' | transloco"></p>
