<h2>Hello!</h2>
<p i18n>
  I am 22 years old and a Programmer Analyst at
  <a href="https://writesys.com.br/">WriteSys Traffic Systems</a>, where I am a
  <b> full-stack developer </b> and work with C# + .NET, TypeScript + Angular e SQL. I am also in my
  last semester of a Bachelor's degree in Computer Engineering. <br /><br />
  I have always been <b>passionate about technology</b> and naturally curious, always willing to
  learn more and explore new innovations and trends. Within this passion, my affinity for
  programming stands out, especially with the C# language and the .NET framework, with which I have
  experience developing Web and Desktop applications. As an example,
  <b
    >I worked on the development of a complete web system for managing inventory, products,
    employees, and orders </b
  >. This open-source application, available on
  <a href="https://github.com/VictorPLopes/ITInventorySystem">GitHub</a>, was built with
  <b> REST APIs in C# + ASP.NET and SQL Server on the back-end </b>, and a
  <b> responsive front-end in TypeScript + React and Bootstrap </b>. <br /><br />
  As a hobby, I am also interested in 3D, both 3D art (especially using Blender) and 3D printing;
  both of which I have experience with.
</p>
<mat-divider></mat-divider>
<h3 i18n>Skills</h3>
<mat-list role="list">
  <mat-list-item role="listitem"
    ><p i18n>
      Advanced proficiency in programming languages: <b>C#, C, Python, Java etc.</b>.
    </p></mat-list-item
  >
  <mat-list-item role="listitem"
    ><p i18n>
      Experience in web development: <b>HTML, CSS, JavaScript/TypeScript</b>, with and without
      frameworks like <b>React, Bootstrap and Angular</b>.
    </p></mat-list-item
  >
  <mat-list-item role="listitem"
    ><p i18n>
      Skilled in developing and consuming <b>REST APIs</b>, with a focus on the
      <b>ASP.NET</b> framework.
    </p></mat-list-item
  >
  <mat-list-item role="listitem"
    ><p i18n>
      Practical knowledge of <b>SQL</b> and RDBs:
      <b> SQL Server, Oracle DB, MySQL, PostgreSQL, SQLite.</b>
    </p></mat-list-item
  >
  <mat-list-item role="listitem"
    ><p i18n>
      Extensive practical experience in <b>hardware</b> and <b>firmware</b> development for
      <b> embedded systems </b>, with emphasis on the use of the <b>Arduino</b> platform and
      <b> C++ programming</b>.
    </p></mat-list-item
  >
  <mat-list-item role="listitem"
    ><p i18n>
      Solid understanding and experience in
      <b> Software Engineering, good development practices </b>, and version control with
      <b>Git</b> and GitHub.
    </p></mat-list-item
  >
  <mat-list-item role="listitem"
    ><p i18n>
      In-depth mastery of
      <b> IT, operating systems, computer networks, and hardware</b>.
    </p></mat-list-item
  >
</mat-list>
<mat-divider></mat-divider>
<h3 i18n>About this website</h3>
<p i18n>
  This personal website is where you can find my info and some of my projects (related to software,
  harware and engineering), and see some of the artwork of questionable quality I've created in my
  spare time. Here you can also find links to my socials and see my contact info. Feel free to
  follow me around and reach out if you have any questions, opportunities or inquiries, both
  personal and professional.
  <br /><br />
  The website was built from scratch by me, using Angular v20, TypeScript and Sassy CSS. For some of
  the theming and styling, I used Angular Material. For internalization and localization I am using
  Transloco. The source code of the website is on GitHub. Feel free to make suggestions and
  contributions, or fork the repository to use as a template, just please credit me with the proper
  attribution if you do that.
</p>
