<h2>{{ 'hello' | transloco}}</h2>
<p>{{ 'personal-introduction' | transloco }}</p>
<mat-divider></mat-divider>
<h3>{{ 'skills' | transloco }}</h3>
<mat-list role="list">
  <mat-list-item role="listitem"
    ><p>{{ '
------advanced-proficiency-in-programming-languages:-<b>c#,-c,-python,-java-etc.</b>.
----' | transloco }}</p></mat-list-item
  >
  <mat-list-item role="listitem"
    ><p>{{ '
------experience-in-web-development:-<b>html,-css,-java-script/type-script</b>,-with-and-without
------frameworks-like-<b>react,-bootstrap-and-angular</b>.
----' | transloco }}</p></mat-list-item
  >
  <mat-list-item role="listitem"
    ><p>{{ '
------skilled-in-developing-and-consuming-<b>rest-apis</b>,-with-a-focus-on-the
------<b>asp.net</b>-framework.
----' | transloco }}</p></mat-list-item
  >
  <mat-list-item role="listitem"
    ><p>{{ '
------practical-knowledge-of-<b>sql</b>-and-rdbs:
------<b>-sql-server,-oracle-db,-my-sql,-postgre-sql,-sqlite.</b>
----' | transloco }}</p></mat-list-item
  >
  <mat-list-item role="listitem"
    ><p>{{ '
------extensive-practical-experience-in-<b>hardware</b>-and-<b>firmware</b>-development-for
------<b>-embedded-systems-</b>,-with-emphasis-on-the-use-of-the-<b>arduino</b>-platform-and
------<b>-c++-programming</b>.
----' | transloco }}</p></mat-list-item
  >
  <mat-list-item role="listitem"
    ><p>{{ '
------solid-understanding-and-experience-in
------<b>-software-engineering,-good-development-practices-</b>,-and-version-control-with
------<b>git</b>-and-git-hub.
----' | transloco }}</p></mat-list-item
  >
  <mat-list-item role="listitem"
    ><p>{{ '
------in-depth-mastery-of
------<b>-it,-operating-systems,-computer-networks,-and-hardware</b>.
----' | transloco }}</p></mat-list-item
  >
</mat-list>
<mat-divider></mat-divider>
<h3>{{ 'about-this-website' | transloco }}</h3>
<p>{{ '
--this-personal-website-is-where-you-can-find-my-info-and-some-of
--<a-href="/projects">my-projects</a>-(related-to-software,-harware-and-engineering),-and-see-some
--of-the-<a-href="/artwork">artwork</a>-of-questionable-quality-i've-created-in-my-spare-time.-here
--you-can-also-find-links-to-my-socials-and-see-my-contact-info.
--<b>-feel-free-to-follow-me-around-and-reach-out-</b>-if-you-have-any-questions,-opportunities-or
--inquiries,-both-personal-and-professional.-<br-/><br-/>
--the-website-was-built-from-scratch-by-me,-using-<a-href="https://angular.dev/">angular-v20</a>,
--<a-href="https://www.typescriptlang.org/">type-script</a>-and
--<a-href="https://sass-lang.com/">sass-(scss)</a>.-for-some-of-the-components-and-theming,-i-used
--<a-href="https://material.angular.dev/">angular-material</a>.-for-internalization-and-localization
--i-am-using-<a-href="https://jsverse.gitbook.io/transloco/">transloco</a>.-the-source-code-of-the
--website-is-on-<a-href="https://github.com/victor-plopes/portfolio">git-hub</a>.
--<b>-feel-free-to-make-suggestions-and-contributions</b>,-or-fork-the-repository-to-use-as-a
--template,-just-<u>-please-credit-me-with-the-proper-attribution-</u>-if-you-do-that.
' | transloco }}</p>
