@use '@angular/material' as mat;

:host {
  @include mat.list-overrides(
    (
      list-item-one-line-container-height: auto,
    )
  );
}

p {
  font: var(--mat-sys-body-large);
}

.mdc-list {
  padding-top: 0;
}
