:host {
  display: block;
  height: 100vh;
  max-width: calc(1440px + 2rem);
  justify-self: center;
  overflow: hidden;
  margin: 0;
  padding: 0;
  align-content: center;
}

.layout {
  display: grid;
  grid-template-columns: 2fr 10fr; // Desktop
  height: 100%;
  min-height: 0;
  gap: 1rem;
  padding: 1rem;

  .sidebar-cell,
  .main-cell {
    min-height: 0;
  }

  .main-cell {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100%;
    header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    footer {
      p {
        text-align: center;
        margin: 0.5rem 0 0 0;
      }
    }
  }

  .main-cell > .main {
    height: 100%;
    min-height: 0;
    width: 100%;
    min-width: 0;
    display: flex;
    flex-direction: column;
  }
}

.mobile-header {
  display: none;
}
.desktop-header {
  display: flex;
}

// MEDIUM SCREENS OVERRIDES
@media (min-width: 769px) and (max-width: 1280px) {
  .layout {
    grid-template-columns: 3fr 9fr;
  }
}

// MOBILE OVERRIDES
@media (max-width: 768px) {
  :host {
    height: auto;
    min-height: 100vh;
    overflow: visible;
  }

  .layout {
    display: grid;
    grid-template-columns: 1fr; // Stack columns on mobile
    grid-template-rows: auto 1fr;
    padding: 1rem;
    height: auto;
    gap: 1rem;

    .sidebar-cell,
    .main-cell {
      min-height: 0;
    }

    .sidebar-cell {
      display: grid;
      grid-template-rows: auto 1fr;
      gap: 0.5rem;

      header {
        justify-self: end;
      }
    }
  }

  .mobile-header {
    display: flex;
    width: 100%;
    pf-options {
      width: 100%;
    }
  }
  .desktop-header {
    display: none;
  }
}
