<div class="layout">
  <div class="sidebar-cell">
    <header class="mobile-header">
      <pf-options aria-hidden="true"></pf-options>
    </header>

    <pf-profile-sidebar
      class="sidebar"
      [name]="myProfile.name"
      [nickname]="myProfile.nickname"
      [avatarSrc]="myProfile.avatarSrc"
      i18n-role
      [role]="myProfile.role"
      i18n-bio
      [bio]="myProfile.bio"
      [github]="myProfile.github"
      [twitter]="myProfile.twitter"
      [linkedin]="myProfile.linkedin"
      [customWebsites]="myProfile.customWebsites ?? []"
      [socialButtonStyle]="'tonal'"
      [maxExpandedLinks]="6"
    />
  </div>

  <div class="main-cell">
    <header>
      <h1>{{ 'portfolio' | transloco }}</h1>
      <pf-options class="desktop-header"></pf-options>
    </header>

    <pf-main-content class="main" />

    <footer>
      <p>
        <span>{{ 'website-created-with' | transloco }}</span
        >&nbsp;<a href="https://angular.dev/">Angular</a> +
        <a href="https://www.typescriptlang.org/">TypeScript</a> | ©2025
        <b>Victor Probio Lopes</b>
      </p>
    </footer>
  </div>
</div>
