<aside class="card sidebar-card" role="complementary" aria-label="Profile summary">
  <div class="card-inner">
    <div class="personal-data">
      <h1 class=name>{{ name() }}</h1>
      <img
        [ngSrc]="avatarSrc()"
        [alt]="name()"
        width="512"
        height="512"
        class="avatar"
        priority
      />
      <h4 class="nickname">{{ nickname() }}</h4>
      <h3 class="role">{{ role()}}</h3>
    </div>
    <div class="bio">
      <p>{{ bio() }}</p>
    </div>
    <mat-divider/>
    <nav aria-label="Social links" class="social">
      <a matButton="filled" href="https://www.github.com/you" target="_blank">GitHub</a>
      <a matButton="filled" href="https://linkedin.com/in/you" target="_blank">LinkedIn</a>
    </nav>
  </div>
</aside>
