:host {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 1rem;
  column-gap: 1rem;
}

// MOBILE OVERRIDES
@media (max-width: 768px) {
  :host {
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
  }
}
