:host {
  display: grid;
  --min-card-width: 320px;
  grid-template-columns: repeat(auto-fill, minmax(var(--min-card-width), 1fr));
  gap: 1rem;

  grid-auto-rows: 100%;
  height: 100%;
  min-height: 0;
  width: 100%;

  align-items: stretch;
  justify-items: stretch;
}

// MOBILE OVERRIDES
@media (max-width: 768px) {
  :host {
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    height: auto;
  }
}
