// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;
@use './app/styles/theme.scss' as my-theme;

:root {
  @include mat.tabs-overrides(
    (
      active-indicator-shape: 3px 3px 0 0,
      active-indicator-height: 3px,
    )
  );
}

html {
  @include mat.theme(
    (
      color: (
        primary: my-theme.$primary-palette,
        tertiary: my-theme.$tertiary-palette,
      ),
      typography: Archivo,
      density: 0,
    )
  );
  scrollbar-color: var(--mat-sys-outline) transparent;
}

::-webkit-scrollbar {
  background-color: transparent;
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  // color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface-container-low);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
  font-family: Archivo, Roboto, 'Helvetica Neue', sans-serif;

  background-size: 40px 40px;
  // Dotted grid:
  background-image: radial-gradient(circle, var(--mat-sys-outline-variant) 1px, transparent 1px);
  // Line grid
  // background-image: linear-gradient(to right, var(--mat-sys-outline-variant) 1px, transparent 1px),
  //   linear-gradient(to bottom, var(--mat-sys-outline-variant) 1px, transparent 1px);
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  margin: 1rem 0 1rem 0;
}

.card {
  background: var(--mat-sys-surface);
  border-radius: var(--mat-sys-corner-medium);
  border: 1px solid var(--mat-sys-outline);
  //box-shadow: var(--mat-sys-level1);
  overflow: hidden;
  height: 100%;

  .card-inner {
    padding: 1rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}

// MOBILE OVERRIDES
@media (max-width: 768px) {
  .card {
    height: auto !important;
    min-height: 0;
    overflow: overlay !important;
  }
}
