// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;
@use './app/styles/theme.scss' as my-theme;

:root {
  @include mat.tabs-overrides(
    (
      active-indicator-shape: 3px 3px 0 0,
      active-indicator-height: 3px,
    )
  );
}

html {
  @include mat.theme(
    (
      color: (
        primary: my-theme.$primary-palette,
        tertiary: my-theme.$tertiary-palette,
      ),
      typography: (
        plain-family: 'Be Vietnam Pro',
        brand-family: 'Archivo Narrow',
      ),
      density: 0,
    )
  );
  scrollbar-color: var(--mat-sys-outline) transparent;
}

::-webkit-scrollbar {
  background-color: transparent;
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  // color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
  letter-spacing: var(--mat-sys-body-medium-tracking);

  background-attachment: fixed;
  background-color: var(--mat-sys-surface);
  background-image:
  // Radial gradients:
    radial-gradient(
      60% 80% at 50% 0%,
      color-mix(in srgb, var(--mat-sys-primary) 30%, transparent) 0%,
      transparent
    ),
    radial-gradient(
      40% 60% at 50% 100%,
      color-mix(in srgb, var(--mat-sys-tertiary) 20%, transparent) 0%,
      transparent
    ),
    radial-gradient(
      30% 70% at 50% 50%,
      color-mix(in srgb, var(--mat-sys-secondary) 10%, transparent) 0%,
      transparent
    ),
    // Dotted grid:
    radial-gradient(circle at center, var(--mat-sys-outline-variant) 0.075rem, transparent 0),
    radial-gradient(circle at center, var(--mat-sys-outline-variant) 0.075rem, transparent 0);
  background-size:
    // Radial gradients:
    auto, auto, auto,
    // Dotted grid:
    2.5rem 2.5rem,
    2.5rem 2.5rem;
  background-position:
    // Radial gradients:
    0 0, 0 0, 0 0,
    // Dotted grid:
    0 0,
    1.25rem 1.25rem;
  background-repeat:
    // Radial gradients:
    no-repeat, no-repeat, no-repeat,
    // Dotted grid:
    repeat,
    repeat;
  background-blend-mode: hard-light, hard-light, screen, normal, normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  margin: 1rem 0 1rem 0;
  font-family: var(--mat-sys-display-large-font);
  letter-spacing: var(--mat-sys-display-large-tracking);
}
h2 {
  font-family: var(--mat-sys-display-medium-font);
  letter-spacing: var(--mat-sys-display-medium-tracking);
}
h3 {
  font-family: var(--mat-sys-display-small-font);
  letter-spacing: var(--mat-sys-display-small-tracking);
}
h4 {
  font-family: var(--mat-sys-headline-large-font);
  letter-spacing: var(--mat-sys-headline-large-tracking);
}
h5 {
  font-family: var(--mat-sys-headline-medium-font);
  letter-spacing: var(--mat-sys-headline-medium-tracking);
}
h6 {
  font-family: var(--mat-sys-headline-small-font);
  letter-spacing: var(--mat-sys-headline-small-tracking);
}

.card {
  // Fallback values for when glassmorphism isn't supported
  background: var(--mat-sys-surface-container-highest) !important;
  border: 1px solid var(--mat-sys-outline-variant) !important;

  // Glassmorphism overrides
  @supports (backdrop-filter: blur(16px)) or (-webkit-backdrop-filter: blur(16px)) {
    // Blurry Glass
    background: color-mix(in srgb, var(--mat-sys-surface-container-highest) 20%, transparent) !important;
    -webkit-backdrop-filter: blur(16px) !important;
    backdrop-filter: blur(16px) !important;
    border: 1px solid color-mix(in srgb, var(--mat-sys-outline-variant) 70%, transparent) !important;

    // Grain (Frosted Glass)
    position: relative !important;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 600 600'%3E%3Cfilter id='a'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23a)' opacity='0.10'/%3E%3C/svg%3E") !important;
    background-repeat: repeat !important;
    background-size: 182px !important;
    background-position: 0 0 !important;
    background-blend-mode: overlay !important;
  }

  border-radius: var(--mat-sys-corner-medium) !important;;
  box-shadow: var(--mat-sys-level1) !important;;
  overflow: hidden;
  height: 100%;

  .card-inner {
    padding: 1rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}

.mat-mdc-form-field .mdc-text-field .mdc-line-ripple::before {
  border-bottom-color: transparent !important;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  // Glassmorphism overrides
  @supports (backdrop-filter: blur(16px)) or (-webkit-backdrop-filter: blur(16px)) {
    // Blurry Glass
    background: color-mix(in srgb, var(--mat-sys-surface-variant) 20%, transparent) !important;
    -webkit-backdrop-filter: blur(16px) !important;
    backdrop-filter: blur(16px) !important;

    // Grain (Frosted Glass)
    position: relative !important;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 600 600'%3E%3Cfilter id='a'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23a)' opacity='0.10'/%3E%3C/svg%3E") !important;
    background-repeat: repeat !important;
    background-size: 182px !important;
    background-position: 0 0 !important;
    background-blend-mode: overlay !important;
  }
}

.mdc-text-field--filled {
  // Glassmorphism overrides
  @supports (backdrop-filter: blur(16px)) or (-webkit-backdrop-filter: blur(16px)) {
    border: 1px solid color-mix(in srgb, var(--mat-sys-outline-variant) 70%, transparent) !important;
  }

  border-radius: var(--mat-sys-corner-medium) !important;
  box-shadow: var(--mat-sys-level1) !important;
}

.text-card,
.media-card {
  // Fallback values for when glassmorphism isn't supported
  background: var(--mat-sys-surface) !important;
  border: 1px solid var(--mat-sys-outline-variant) !important;

  // Glassmorphism overrides
  @supports (backdrop-filter: blur(16px)) or (-webkit-backdrop-filter: blur(16px)) {
    // Blurry Glass
    background: color-mix(in srgb, var(--mat-sys-surface) 20%, transparent) !important;
    -webkit-backdrop-filter: blur(16px) !important;
    backdrop-filter: blur(16px) !important;
    border: 1px solid color-mix(in srgb, var(--mat-sys-outline-variant) 70%, transparent) !important;

    // Grain (Frosted Glass)
    position: relative !important;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 600 600'%3E%3Cfilter id='a'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23a)' opacity='0.10'/%3E%3C/svg%3E") !important;
    background-repeat: repeat !important;
    background-size: 182px !important;
    background-position: 0 0 !important;
    background-blend-mode: overlay !important;
  }

  border-radius: var(--mat-sys-corner-medium) !important;;
  box-shadow: var(--mat-sys-level1) !important;;
}

.card::before,
.mdc-text-field--filled:not(.mdc-text-field--disabled)::before,
.text-card::before,
.media-card::before {
  // Glassmorphism overrides
  @supports (backdrop-filter: blur(16px)) or (-webkit-backdrop-filter: blur(16px)) {
    content: '' !important;
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    height: 1px !important;
    background: linear-gradient(
      90deg,
      transparent,
      rgba(255, 255, 255, 0.8),
      transparent
    ) !important;
  }
}

.card::after,
.mdc-text-field--filled:not(.mdc-text-field--disabled)::after,
.text-card::after,
.media-card::after {
  // Glassmorphism overrides
  @supports (backdrop-filter: blur(16px)) or (-webkit-backdrop-filter: blur(16px)) {
    content: '' !important;
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    width: 1px !important;
    height: 100% !important;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.8),
      transparent,
      rgba(255, 255, 255, 0.3)
    ) !important;
  }
}

// MOBILE OVERRIDES
@media (max-width: 768px) {
  .card {
    height: auto !important;
    min-height: 0;
    overflow: overlay !important;
  }
  body {
    background-image:
  // Radial gradients:
      radial-gradient(
        80% 80% at 50% 0%,
        color-mix(in srgb, var(--mat-sys-primary) 30%, transparent) 0%,
        transparent
      ),
      radial-gradient(
        60% 60% at 50% 100%,
        color-mix(in srgb, var(--mat-sys-tertiary) 20%, transparent) 0%,
        transparent
      ),
      radial-gradient(
        50% 70% at 50% 50%,
        color-mix(in srgb, var(--mat-sys-secondary) 10%, transparent) 0%,
        transparent
      ),
      // Dotted grid:
      radial-gradient(circle at center, var(--mat-sys-outline-variant) 0.075rem, transparent 0),
      radial-gradient(circle at center, var(--mat-sys-outline-variant) 0.075rem, transparent 0);
  }
}
